/* Homepage general formatting */
.body {
  background-image: 
}

/* Form to upload image of dish */
.open-button {
  background-color: grey;
  bottom: 23px;
  color: white;
  cursor: pointer;
  height: 60px;
  left: 50%;
  opacity: 0.8;
  padding: 16px 20px;
  position: fixed;
  top: 65%;
}

.form-popup {
  border: 3px solid #f1f1f1;
  display: none;
  height: 200px;
  left: 45%;
  position: absolute;
  top: 25%
}

.form-container {
  background-color: white;
  max-width: 300px;
  padding: 10px;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  padding: 16px 20px;
  width: 100%;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.image-preview {
  max-width: 200px;
}